body {
    overflow: auto;
}

p, li {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.146in;
}

.resume-wrapper {
    align-self: flex-start;
    margin-top: 120px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.resume-download {
    width: 100%;
    position: absolute;
    top: 75px;
    text-align: center;
    animation: appear ease 2s;
    visibility: visible;
    padding: 0;
}
.resume-download p {
    font-family: monospace;
    color: whitesmoke;
}

.resume-download .icon {
    display: none;
    width: 150px;
    margin: 0;
}

@media screen and (max-width: 600px) {
  .resume {display: none;}
  .resume-download {top: 150px; animation: none;}
  .resume-download a {text-decoration: none;}
  .resume-download p {margin-bottom: 40px;}
  .resume-download .icon {display: inline-block; visibility: visible;}
}

.resume .page {
    width: 8.5in;
    height: 11in;
    border: 1px solid black;
    box-shadow: 2px 3px #888888;
    padding: .111in .555in;
    background-color: whitesmoke;
    animation: presentResume ease-out 1.5s;
}

@media print {
    body {
        visibility: hidden;
    }
    .resume-wrapper {
        visibility: visible;
        background-color: whitesmoke;
    }
    .resume .page {
        width: 8.5in;
        height: 11in;
        border: none;
        box-shadow: none;
    } 
}

@keyframes presentResume {
    from {position:relative; top: -13in;}
    to {position:relative; top:0;}
}

.resume .header {
    text-align: center;
    margin: 0.146in;
}

.resume .header .name {
    font-size: .236in;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.resume .header .header-title {
    margin-bottom: 8px;
    text-transform: uppercase;
}


.resume .two-cols {
    width: 100%;
    margin: 0;
}


.resume .thin-left {
    width: calc(30% - 40px);
    float: left;
    padding: 20px;
    text-align: center;
}

.resume .contact-link {
    text-decoration: none;
    color: black;
}

.resume .section {
    margin-bottom: 30px;
}

.resume .section-header {
    font-size: 18px;
    text-transform: uppercase;
}

.resume .section-content {
    margin: 0;
}

.resume .section p {
    margin: 10px;
}

.resume .icon {
    width: 18px;
    height: 18px;
}

.resume .header-with-icon {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: -27px;
    padding: 0;
}

.resume .header-with-icon .section-header {
    margin: 0;
    margin-left: 18px;
}


.resume .line-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;

}

.resume .line-with-icon p {
    margin: 0;
    margin-left: 12px;
}

.resume .thick-right {
    width: calc(70% - 40px);
    float: right;
    padding: 20px;
}

.resume .thick-right .section-content {
    border-left: 2px black solid;
    margin-left: -20px;
    padding-left: 18px;
}

.resume .thick-right .entry {
    margin-bottom: 16px;
}

.resume .thick-right .entry-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.resume .thick-right .entry-subtitle {
    color: grey;
    margin-top: 4px;
    margin-bottom: 4px;
}

.resume ul {
    padding-left: 25px;
}