* {
    font-family: monospace;
}

body {
    background-color: #1b1b1b;
    overflow: hidden;
}

.menu-bar {
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    font-family: Blackout, sans-serif;
}

.menu-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu-bar a:hover {
  color: #9b3654;
}

.menu-bar a.active {
  background-color: #9b3654;
  color: white;
}

.content-wrapper {
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content .title {
    width: 75vw;
    min-width: 450px;
    text-align: center;
    display: block;
    position: relative;
}

.content .title img {
    width: 400px;
    transform: translate(calc(-50% + 8px), 33%);
    margin: 0;
    position: absolute;
    bottom: 50%;
}

.content .title div {
    width: 100%;
    position: absolute;
    top: 50%;
    animation: fadeIn ease 1.5s;
}

.content .title p {
    color: #9b3654;
    font-family: monospace;
    font-size: 30px;
    margin: 0;

}

@keyframes fadeIn {
  0% {opacity:0; top: -20px;}
  100% {opacity:1;top: 0;}
}