* {
    font-family: sans-serif;
}

body {
    background-color: #1b1b1b;
    overflow: hidden;
}

.content-wrapper {
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content .title {
    width: 75vw;
    min-width: 450px;
    text-align: center;
    display: block;
    position: relative;
}

.content .title img {
    width: 400px;
    transform: translate(calc(-50% + 8px), 33%);
    margin: 0;
    position: absolute;
    bottom: 50%;
}

.content .title div {
    width: 100%;
    position: absolute;
    top: 50%;
}

.content .title p {
    color: #9b3654;
    font-family: monospace;
    font-size: 30px;
    margin: 0;
}